{
    "apiVersion": "v1",
    "data": {
        "tls.crt": "{{ ingress_tls.crt }}",
        "tls.key": "{{ ingress_tls.key }}"
    },
    "kind": "Secret",
    "metadata": {
        "name": "ingress-tls",
        "namespace": "default"
    },
    "type": "kubernetes.io/tls"
}
