apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: grafana-ingress
  namespace: ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  tls:
    - hosts:
        - grafana.{{ ip_addr.stdout }}.nip.io
      secretName: ingress-tls
  rules:
    - host: grafana.{{ ip_addr.stdout }}.nip.io
      http:
        paths:
        - path: /
          backend:
            serviceName: kube-prometheus-stack-grafana
            servicePort: 80
